body{

margin:0;
font-family: serif;
text-align:center;
background:#fdf6f0;
color:#6b2d2d;

}

.container{

padding:40px;

}

h1{

font-size:40px;

}

h2{

font-size:36px;

color:#8b0000;

}

.photos{

display:flex;
justify-content:center;
gap:30px;
margin:30px;

}

.photos img{

width:200px;
border-radius:10px;

}

button{

padding:10px 20px;
background:#8b0000;
color:white;
border:none;
border-radius:5px;

}
