body{
margin:0;
font-family:Arial;
text-align:center;
background:#fff0f5;
}

.welcome{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#800000;
color:white;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
cursor:pointer;
}

.main{
display:none;
padding:40px;
}

.photos img{
width:200px;
margin:10px;
border-radius:10px;
}

#countdown{
font-size:25px;
color:#800000;
margin-top:20px;
}
